# Router Configuration
ROUTER_HOST=https://192.168.1.1
ROUTER_USERNAME=admin
ROUTER_PASSWORD=secret

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# Gateway Configuration
PORT=3000
API_KEYS_PATH=./config/api-keys.yaml

# Queue Configuration
SMS_QUEUE_CONCURRENCY=1
SMS_QUEUE_DELAY_MS=1000
